

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    font-family: "Pretendard";
}

nav {
    display: inline;
    margin: 0;
    padding: 1rem;
    width: auto;
    float: none;
}

.avatar img {
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 1rem;
}

nav h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

nav p {
    margin: 0;
    text-align: center;
}

nav a {
    display: inline;
    padding: 3px;
    color: black;
}